// FONT SIZES ///////////////////////////////////////

// Adjust overall font-size

html {
  font-size: 16px;

  @include breakpoint($medium) {
    font-size: 18px;
  }

  @include breakpoint($large) {
    font-size: 20px;
  }

}

// Keep larger font for top menu in XL




// REMOVE GLOBAL TRANSITION EFFECTS /////////////////

b,
i,
strong,
em,
blockquote,
p,
q,
span,
figure,
img,
h1,
h2,
header,
input,
a,
tr,
td,
form button,
input[type="submit"],
.btn,
.highlight,
.archive__item-teaser {
  -webkit-transition: none;
  transition: none;
}


// MASTHEAD (HEADER) ////////////////////////////////

.masthead {

	@include breakpoint($large) {
    	font-size: 22px;
	}
}

#csl-logo {
	max-width: 150px;
/*
	@include breakpoint($x-small) {
		max-width: 200px;
	} 
*/
	
	@include breakpoint($small) {
		max-width: 300px;
	}	
}


// HOMEPAGE /////////////////////////////////////////

.page__hero {
	&--overlay {
		padding: 1.5em 0;
		-webkit-animation-delay: 0.15s;
    	animation-delay: 0.15s;
		
		.page__lead {
			margin-top: 0;
			margin-bottom: 0;
			font-size: 1.2em;
			line-height: 1.4;
			text-shadow: 0 1px 1px rgba(0,0,0,0.5);
		}
		
		.page__title {
			margin-bottom: 0.25em;
			font-size: 1.8em;
			text-shadow: 0 1px 1px rgba(0,0,0,0.5);
		}
	}
}

.multicolumn_list {

    padding: 0 25px;
	-webkit-columns: 3 200px;
	-moz-columns: 3 200px;
	columns: 3 200px;
	-webkit-column-gap: 2em;
	-moz-column-gap: 2em;
	column-gap: 2em;
	line-height: 1;

	margin-bottom: 30px;

	ul {
		margin-top: 0;
		line-height: 1.2;
		
		li {
			font-size: 0.9em;
		}
		
		li.item {
			list-style: none;
		}
		
		li.subitem {
			list-style: disc;
		}
	}
}

#partners {
	text-align: center;
}

.csl-partners {
	padding: 0;
	width: 100%;
	text-align: center;
	list-style-type: none;

	margin-top: 0;
	margin-bottom: 0;

	li {
		min-width: 200px;
		display: inline-block;	

		img {
			margin: 20px auto 10px;
		}
	}
}


// PAGE STRUCTURE AND MARGINS ///////////////////////

.page {
  @include breakpoint($large) {
    float: none;
    width: initial;
    padding-right: 0;
    max-width: 900px;
    margin: 0 auto;
  }
}

.sidebar__right {
	@include breakpoint($large) {
		float: right;
		margin: 0 0 20px 40px;
		width: initial;
		position: initial;
		padding: 0;
		width: 320px;
    }
}

// OTHER ////////////////////////////////////////////

form {
	font-size: 0.8em;
}

.single-left-toc {

	h1,h2,h3,h4,p,ul,div.notice--info {
		margin-left: 262px !important;
	}
}

.notice--info {

	h4, p {
		margin-left: 0 !important;
	}
}

/*
.single-left-toc {
	
	h1,h2,h3,h4:not(div.notice--info),p:not(div.notice--info),ul,div.notice--info {
		margin-left: 300px !important;
	}

}
*/


