#csl-logo {
	max-width: 150px;

	@include breakpoint($x-small) {
		max-width: 200px;
	}	
	
	@include breakpoint($small) {
		max-width: 300px;
	}	
}

.multicolumn_list {

    padding: 0 25px;
	-webkit-columns: 3 200px;
	-moz-columns: 3 200px;
	columns: 3 200px;
	-webkit-column-gap: 2em;
	-moz-column-gap: 2em;
	column-gap: 2em;

	margin-bottom: 30px;

	ul {
		margin-top: 0;
	}

	li.item {
		list-style: none;
	}

	li.subitem {
			list-style: disc;
	}

}

.single-left-toc {

	h1,h2,h3,h4,p,ul,div.notice--info {
		margin-left: 262px !important;
	}
}

.notice--info {

	h4, p {
		margin-left: 0 !important;
	}
}

/*
.single-left-toc {
	
	h1,h2,h3,h4:not(div.notice--info),p:not(div.notice--info),ul,div.notice--info {
		margin-left: 300px !important;
	}

}
*/

// ********************** HOMEPAGE **********************

#partners {
	text-align: center;

	h2 {
		width: 100%;
		text-align: center;
	}
}

.csl-partners {
	padding: 0;
	width: 100%;
	text-align: center;
	list-style-type: none;

	li {
		min-width: 200px;
		display: inline-block;	

		img {
			margin: 20px auto 10px;
		}
	}
}
