---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

<div id="main" role="main">
  <article class="splash" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}

    <section class="page__content" itemprop="text">
      {{ content }}
    </section>
  </article>
  {% if page.multicolumn_list %}
    {% include multicolumn_list %}
  {% endif %}
  <div id="partners">
    <h3>The Citation Style Language project has been sponsored by</h3>
    <ul class="csl-partners">
      <li><a href="https://www.zotero.org/"><img src="/assets/img/zotero-logo-128x128.png" height="64px" width="64px"><br>Zotero</a></li>
      <li><a href="https://www.mendeley.com/"><img src="/assets/img/mendeley-logo-128x128.png" height="64px" width="64px"><br>Mendeley</a></li>
      <li><a href="https://www.papersapp.com/"><img src="/assets/img/papers-logo-128x128.png" height="64px" width="64px"><br>Papers</a></li>
      <li><a href="https://refworks.proquest.com/"><img src="/assets/img/refworks-logo-128x128.png" height="64px" width="64px"><br>RefWorks</a></li>
      <li><a href="https://paperpile.com"><img src="/assets/img/paperpile-logo.png" height="64px" width="64px"><br>Paperpile</a></li>
      <li><a href="https://www.bibcitation.com/"><img src="/assets/img/bibcitation-logo.png" height="64px" width="64px"><br>Bibcitation</a></li>
    <ul>
  </div>
</div>
